.fixed {
    position: fixed;
    right: 0;
    height: 100vh !important;
    object-fit: cover;
    object-position: center top;
}

.fixed img  {
    height: 100% !important;
}

.button-login {
    background-color: #ed563b !important;
}

.link-infos {
    color: #ed563b !important;
}

.forgot {
    margin-top: -50px !important;
}

.first-row {
    display: flex;
    height: 85vh;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

@media (min-width: 1025px) {
    .h-custom-2 {
      height: 100%;
    }
}