.image-enseign {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.title_enseign {
    font-weight: 900;
    color: #ed563b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
}

.info-enseign {
    text-align: center;
    color: black !important;
}

.title-matiere {
    position: relative;
}

.title-matiere::after {
    content: '';
    border-bottom: 3px solid rgba(35,45,57,0.8);
    width: 200px;
    height: 10px;
    display: flex;
    margin: 0 auto;
}

.title-generale, .title-technique {
    font-size: 30px;
    position: relative;
    margin-left: 30px;
}

.title-generale::before, .title-technique::before {
    content: '';
    position: absolute;
    top: 9px;
    left: -25px;
    border-bottom: 3px solid rgba(35,45,57,0.8);
    width: 20px;
    height: 20px;
    background-color: #ed563b;
    border-radius: 50%;
    margin-right: 35px;
}

.primaire:hover, .secondaire:hover, .universitaire:hover {
    cursor: pointer;
}

/*
*media queries
*/


@media only screen and (max-width: 970px) {
    .section.matiere_generale.mb-4 .row, .section.matiere_technique.mb-4 {
        margin-left: 25px !important;
    }
}


@media only screen and (max-width: 400px) {
    .section.matiere_generale.mb-4 .row , .section.matiere_technique.mb-4{
        margin-left: 5px !important;
    }
}